

/*Css LandingPage */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Styles pour la section héros */
.hero {
  background-image: url('https://www.iberdrola.com/documents/20125/40126/Deep_Learning_746x419.jpg/6f72011f-444c-bbfc-9d43-659d463a22c3?t=1626932434616');
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  color: #fff;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  
}

/* Styles pour la section fonctionnalités */
.features-section {
  padding: 50px 0;
  background-color: #f9f9f9;
  text-align: center;
}

.features-section h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  
}

.feature {
  max-width: 300px;
  margin: 0 auto 40px;
  
  
}

.feature img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  
}

/* Styles pour le pied de page */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/*Css Agenda*/
.agenda-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.agenda-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.task-input-container {
  display: flex;
  margin-bottom: 20px;
}

.task-input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.task-input-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task-input-container button:hover {
  background-color: #45a049;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.task-item button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff4d4d;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task-item button:hover {
  background-color: #ff3333;
}

.date-picker {
  width: 200px;
}

/* Ajoutez ces styles pour styliser les dates mises en évidence */
.react-datepicker__day--highlighted {
  background-color: #4caf50;
  border-radius: 50%;
  color: #fff;
}


/*Css Dahboard*/





.dashboard-container {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 30px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.dashboard-title {
  font-size: 36px;
  color: #333333;
}

.dashboard-actions {
  display: flex;
}

.action-button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #45a049;
}

.dashboard-summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.summary-item {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  background-color: #f0f0f0;
  text-align: center;
  margin-right: 20px; /* Espacement entre les éléments de résumé */
}

.summary-item:last-child {
  margin-right: 0;
}

.summary-item h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #555555;
}

.summary-item p {
  font-size: 18px;
  color: #333333;
}

.dashboard-charts {
  margin-top: 40px; /* Espacement entre le résumé et la section des graphiques */
}

.chart-container {
  display: flex;
  justify-content: space-between;
}

.chart {
  flex: 1;
  margin-right: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.chart h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333333;
}

.bar-chart {
  display: flex;
  align-items: flex-end;
  height: 300px;
}

.bar {
  width: 50px;
  background-color: #4caf50;
  margin-right: 10px;
}

.pie-chart {
  /* Styles pour le graphique circulaire */
}

.extra-chart {
  /* Styles pour le graphique "extra" */
}


.mt-60 {
  margin-top: -74px;
}




/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
